* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.head {
    color: rgb(248, 6, 18);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

.mid {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main_section {

    display: flex;
    flex-direction: row;


}

.ctr1 {
  
    color: rgb(76, 7, 83);
    border: 2px solid rgba(115, 114, 114, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: 230px;
    width: 200px;
    margin: 10px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ctr2{
    display: flex;
    margin-top: 20px;
}

#one {

    background-image: url(../Assets/hair\ piont\ brush.jpeg);
}

#two {
    background-image: url(../Assets/foam\ brush.jpg);
}

#three {
    background-image: url(../Assets/hairbrush.jpeg);
}

#four {
    background-image: url(../Assets/trimmer.webp);
}



#one1 {

    background-image: url(../Assets/blade.jpeg);
}

#two2 {
    background-image: url(../Assets/chair.jpg);
}

#three3 {
    background-image: url(../Assets/chair1.webp);
}

#four4 {
    background-image: url(../Assets/instrument\ table.jpg);
}

#one11 {

    background-image: url(../Assets/nailremover.jpg);
}

#two22 {
    background-image: url(../Assets/stand.jpeg);
}

#three33 {
    background-image: url(../Assets/trolly.jpeg);
}

#four44 {
    background-image: url(../Assets/combo.webp);
}

.text {

    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 180px;

}

.text_price {
    color:   rgb(248, 6, 18);
    display: flex;
    justify-content: center;
    font-weight: 600;
}

